ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

body {
  font-family: roboto, sans-serif;
  color: #2e2f42;
}

.nav-class ul li a {
  font: roboto, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
}

.h1-class {
  font: roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
  font-style: bold;
  line-height: 1.07;
  letter-spacing: 2%;
  text-align: center;
}

.button-class {
  font: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  line-height: 1.5;
  letter-spacing: 4%;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.team-class {
  background-color: #f4f4fd;
}

.team-class .team-item {
  background-color: #ffffff;
}

.team-class .team-member {
  text-align: center;
}

.team-class .member-position {
  text-align: center;
}

.footer-class {
  background-color: #2e2f42;
  color: #ffffff;
}

.logo-web {
  font: railway, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #4d5ae5;
}

.logo-top {
  font: railway, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #2e2f42;
}

.logo-bottom {
  font: railway, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #ffffff;
}
