ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

body {
  font-family: roboto, sans-serif;
  color: #2e2f42;
}

.nav-class ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-class a:hover,
.nav-class a:focus {
  color: #4d5ae5;
}

.address-class ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-class a:hover,
.address-class a:focus {
  color: #4d5ae5;
}

.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
}

.h1-class {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-class {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.button-class:hover,
.button-class:focus {
  background-color: rgb(0, 140, 255);
}
.team-class {
  background-color: #f4f4fd;
}

.team-class .team-item {
  background-color: #ffffff;
}

.team-class .team-member {
  text-align: center;
}

.team-class .member-position {
  text-align: center;
}

.portfolio-class {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-class {
  background-color: #2e2f42;
  color: #ffffff;
}

.logo-web {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-top {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo-bottom {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}
